@model             DriverViewModel
@{
    ViewBag.Title = "Add new driver";
}
<form asp-action="Add">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="EmployeeId">Employee</label>
        <select asp-for="EmployeeId" asp-items="ViewBag.EmployeeId"></select>
        <span asp-validation-for="EmployeeId"></span>
    </div>
    <div>
        <input type="submit" class="btn btn-primary" value="Submit" />
    </div>
</form>


<div>
    <form>
        <button asp-action="Index" class="btn btn-secondary">Go back</button>
    </form>
</div>