@model ProfessionDriver.ViewModels.EntityViewModel
@{
    ViewBag.Title = "Add new entity";
}
<h1>@ViewBag.Title</h1>

<form asp-action="Add">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="EntityName">Entity name</label>
        <input asp-for="EntityName" />
        <span asp-validation-for="EntityName"></span>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
<div>
    <a asp-action="Index">Go back</a>
</div>